.additional-item {
  border-top: 1px solid $radio;
  padding-top: 14px;
  padding-bottom: 17px;

  &:nth-last-of-type() {
    border-bottom: 1px solid $radio;
  }
}

.additional-item__text {
  @include text (uppercase, 16px);
  text-align: left;
  color: $black-brown;
  margin: 0;
  padding-bottom: 11px;
}

.additional-item__row {
  font-family: $font-a;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include text (none, 14px);
  color: $grey-text;
}

.additional-item__data:nth-child(2) {
  text-align: right;
}

.additional-item__wrapper {
  display: block;
  padding-bottom: 15px;
}

.additional-item__table {
  display: block;
}

@media (min-width: $tablet-width) {
  .additional-item {
    border: 1px solid #cdcdcd;
    padding-top: 14px;
    padding-bottom: 26px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .additional-item__data:nth-child(1) {
    margin-right: 50px;
  }

  .additional-item__wrapper-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .additional-item__button {
    width: 100%;
  }

  .additional-item__text {
    font-size: 20px;
    margin-top: 12px;
    padding-bottom: 25px;
  }

  .additional-item__data {
    font-size: 16px;
    margin-top: 16px;
  }
}

@media (min-width: $desktop-width) {
  .additional-item {
    display: flex;
    align-items: baseline;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 1px;
  }

  .additional-item__wrapper-tab {
    flex-grow: 1;
    margin-right: 40px;
  }

  .additional-item__button {
    width: 245px;
  }

  .additional-item__wrapper {
    width: 292px;
  }

  .additional-item__data:nth-child(1) {
    margin-right: 112px;
  }
}
