.contact {
  background-color: white;
}

.contact__title {
  @include text (uppercase, 16px);
  color: $black-title;
  text-align: left;
  line-height: 21px;
  margin: 0;
  margin-right: 17px;
  width: 172px;
}

.contact__descr {
  @include text (none, 14px);
  font-family: $font-a;
  color: $grey-text;
  line-height: 21px;
  margin: 0;
}

.contact__address {
  display: flex;
  padding: 25px 0;
}

@media (min-width: $tablet-width) {
  .contact__address {
    padding-top: 92px;
    padding-bottom: 62px;
    padding-left: 40px;
    padding-right: 41px;
    justify-content: space-between;
  }

  .contact__title {
    width: 155px;
    font-size: 20px;
  }

  .contact__city {
    display: block;
  }

  .contact__descr {
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;

    &:nth-child(2) {
      margin-top: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact {
    position: relative;
  }

  .contact__address {
    position: relative;
    top: 93px;
    right: 0;
    width: 570px;
    height: 210px;
    background-color: white;
    z-index: 1;
    padding: 46px;
  }
}
