.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.copyright__text {
  font-family: $font-a;

  @include text (none, 16px);
  color: $grey-text;
}
