.goods-additional__title {
  color: $black-title;
  text-align: left;
  width: max-content;
  background-color: white;

  @include text (none, 24px);
  font-weight: normal;
  padding-right: 25px;
  padding-left: 38px;
  margin-left: -39px;
  margin-top: 30px;
  margin-bottom: 32px;
}

.goods-additional__list {
  @include ul-reset;
}

.goods-additional__green-line {
  width: 100%;
  height: 3px;
  margin-top: 42px;
  margin-bottom: -42px;
  background-image: linear-gradient(to right, white 50%, $green 50%);
}

@media (min-width: $tablet-width) {
  .goods-additional__list {
    border-bottom: 1px solid #cdcdcd;
  }

  .goods-additional__title {
    font-size: 36px;
    line-height: 1;
    width: fit-content;
    padding-left: 37px;
    padding-right: 37px;
    margin-left: 0;
    margin-top: 70px;
    margin-bottom: 80px;
  }

  .goods-additional__green-line {
    background-image: linear-gradient(to right, $green);
    margin-bottom: -60px;
  }
}

@media (min-width: $desktop-width) {
  .goods-additional {
    margin-bottom: 89px;
  }

  .goods-additional__catalog-wrap {
    display: flex;
    padding-top: 58px;
  }

  .goods-additional__list {
    flex-grow: 1;
    margin-right: 80px;
  }

  .goods-additional__title {
    padding-left: 38px;
    margin-left: -39px;
    margin-top: 26px;
    margin-bottom: 24px;
  }
}
