.good-card {
  padding: 20px 24px;
  border: 1px solid $inside;
  border-bottom: none;

  &:nth-last-child() {
    border-bottom: 1px solid $inside;
  }
}


.good-card__title {
  @include text(uppercase, 16px);
  font-weight: 400;
  color: $black-title;
  text-align: center;
  margin: 0;
  width: 75px;
  margin-bottom: 18px;

  &--center {
    width: auto;
  }
}

.good-card__text {
  font-family: $font-a;
  color: $black-title;
  text-align: center;

  @include text (none, 12px);
}

.good-card__wrapper {
  display: flex;
  flex-direction: row;

  &--grey {
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 55px;

    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      top: 0;
      background-image: url("../../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
    }
  }
}

.good-card__wrapper-sm {
  width: 100%;
}

.good-card__description {
  margin-bottom: 23px;
  width: 100%;
}

.good-card__row {
  font-family: $font-a;
  color: $grey-text;
  padding-bottom: 2px;

  @include text(none, 12px);
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .good-card__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 28px;
    font-size: 20px;
    width: 128px;
  }

  .good-card__link {
    margin: 0 auto;
  }

  .good-card__text {
    font-size: 16px;
    width: 165px;
  }

  .good-card__wrapper {
    flex-direction: column;
  }

  .good-card {
    background-color: $grey;
    border: none;
    padding: 38px;
    min-width: 245px;
    margin-top: 140px;
  }

  .good-card__element:nth-child(1) {
    text-align: left;
  }

  .good-card__element:nth-child(2) {
    text-align: right;
  }

  .good-card__row {
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 2px solid $radio;
    padding-bottom: 5px;
  }

  .good-card__image {
    margin-left: -38px;
    margin-right: -38px;
    margin-top: -126px;


    &--big {
      margin-top: -160px;
    }
  }
}

@media (min-width: $desktop-width) {
  .good-card {
    min-width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
  }

  .good-card__wrapper {
    width: 100%;
  }

  .good-card__wrapper-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .good-card__row {
    width: 169px;
  }
}
