.nav {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .nav {
    width: 768px;
    padding: 13px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
