.nav {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
/*
@media (min-width: $desktop-width) {
  .nav {
  }
}
*/
