.preferences__list {
  @include ul-reset ();
}

.preferences__item p {
  line-height: 1.29;
  font-family: $font-a;
  color: $grey-text;

  @include text(none, 14px);
  margin: 0;
  margin-bottom: 32px;
}

.preferences__header {
  margin: 0;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .preferences {
    padding-top: 50px;
    margin-bottom: 61px;
    text-align: left;
  }

  .preferences__item p {
    font-size: 16px;
    text-align: left;
    width: 240px;
  }

  .preferences__item {
    width: 393px;
    padding-top: 117px;
  }

  .preferences__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .preferences {
    padding-top: 0;
  }

  .preferences__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .preferences__item {
    width: 245px;
  }
}
