.program {
  background-color: $grey;
  min-height: 266px;
  padding: 21px;
  margin-top: 20px;
}

.program__header {
  @include text (uppercase, 24px);
  font-weight: 400;
  color: $black-title;
  margin: 0;
  margin-bottom: 36px;
  position: relative;
  padding-left: 75px;

  &--slim {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 5px;
      width: 35px;
      height: 50px;
      background-image: url("../img/icon-cat-slim.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--pro {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: -12px;
      width: 67px;
      height: 28px;
      background-image: url("../img/icon-cat-pro.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.program__text {
  position: relative;
  font-family: $font-a;
  color: $grey-text;
  margin: 0;
  margin-bottom: 44px;

  @include text (none, 14px);
  line-height: 1.29;
}

.program__link {
  text-transform: uppercase;
  text-align: left;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 12px;
    background-image: url("../../img/icon-right-arrow-long.svg");
    top: 5px;
    left: 90px;
  }
}

@media (min-width: $tablet-width) {
  .program {
    width: auto;
    min-height: 372px;
    padding-top: 81px;
    padding-left: 52px;
    padding-bottom: 62px;
    padding-right: 285px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }

  .program__header {
    font-size: 36px;
  }

  .program__text {
    font-size: 16px;
  }

  .program__link {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    min-width: 570px;
    margin: 0;
    margin-right: 80px;
    padding-top: 81px;
    padding-bottom: 62px;
    padding-left: 51px;
    padding-right: 53px;
    box-sizing: border-box;
  }
}
