.promo {
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #64a83b 305px, transparent 305px);
  background-repeat: no-repeat, repeat;
  background-position: center top, left top;
}

.promo__wrapper {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
}

.promo__header {
  color: white;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}

.promo__text {
  display: block;
  color: white;
  text-align: center;
  margin: 0;

  @include text (uppercase, 14px);
  margin-bottom: 27px;
}

.promo__button {
  display: block;
  color: white;
  background-color: $green;
  width: 280px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0 auto;

  @include text (uppercase, 14px);
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
  }

  .promo__wrapper {
    padding-top: 0;
    width: 420px;
    margin-bottom: 22px;
    margin-left: 87px;
  }

  .promo__header {
    color: $black-title;
    text-align: left;

    @include text (none, 60px);
    margin-bottom: 44px;
  }

  .promo__text {
    color: $black-title;
    text-align: left;
    margin-bottom: 0;

    @include text (uppercase, 20px);
  }

  .promo__wrapper-desk {
    position: relative;
  }

  .promo__button {
    width: 245px;
    height: 52px;
    margin: 0;
    margin-left: 189px;
    padding: 16px 27px;
    font-size: 20px;
    position: absolute;
    top: 272px;
    left: -100px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 500px;
    padding-bottom: 30px;
  }

  .promo__wrapper-desk {
    display: flex;
    flex-direction: column;
  }

  .promo__image {
    order: 1;
    margin-top: -200px;
    margin-left: 365px;
  }

  // .promo__wrapper {
  //   position: relative;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     display: block;
  //     top: -50px;
  //     left: 400px;
  //     background-image: url("../img/index-can-desktop@1x.png");
  //     background-repeat: no-repeat;
  //     width: 552px;
  //     height: 499px;
  //   }
  // }

  .promo__button {
    margin: 0;
    position: static;
  }
}
