.social-links {
  @include ul-reset ();
  border-bottom: 1px solid $gray-bottom;
  border-top: 1px solid $gray-bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 0;
}

.social-links__item {
  margin-right: 20px;

  &:nth-last-child() {
    margin-right: 0;
  }
}

.social-links__link {
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .social-links {
    width: 150px;
    border: none;
  }
}
