$green: #68b738;
$green-btn-hvr: #5eaa2f;
$input-error: #ff8282;
$input-active: #444444;
$input-hvr: #cdcdcd;
$radio-hvr: #bababa;
$radio: #cdcdcd;
$grey: #f2f2f2;
$black-title: #111;
$grey-text: #444444;
$grey-button-hvr: #ebebeb;
$inside: #ededed;
$button-down: rgba(255,255,255, 0.3);
